# Port for the Next.js server
PORT=3005

# NextAuth secret and base URL
NEXTAUTH_SECRET="vvrobots-marketing-media-super-secret-key-2026"
NEXTAUTH_URL="http://localhost:3005"

# Local SQLite for dev, or PostgreSQL string for production: postgresql://user:password@localhost:5432/vvrobots_media
DATABASE_URL="file:./dev.db"

# Local Storage Path for uploaded media files (photos/videos)
# Production example: /home/vvrobots-media/
MEDIA_STORAGE_PATH="./media-storage"
